body {
  margin: 0px;
  padding: 0px;
}

table tr td {
  border: 2px solid #bd9354;
}

table {
  width: 95%;
  margin-top: 50px;
  margin-left: 25px;
}

table thead tr th {
  font-size: 25px;
  background-color: green;
  border: 2px solid #bd9354;
}

.deleteBtn {
  font-size: 15px;
  display: inline-block;
}
